<div class="row">
  <div class="col-md-6">
    <h1 class="mb-4">New Entry</h1>

    <%= form_with url: entries_path, method: :post, class: "mb-3", html: { multipart: true } do |form| %>
      <div class="mb-3">
        <%= form.label :title, class: "form-label" %>
        <%= form.text_field :title, class: "form-control", required: true %>
      </div>

      <div class="mb-3">
        <%= form.label :description, class: "form-label" %>
        <%= form.text_area :description, class: "form-control", rows: 3, required: true %>
      </div>

      <div class="mb-3">
        <%= form.label :occurred_on, "Occurred On", class: "form-label" %>
        <%= form.date_field :occurred_on, class: "form-control", required: true %>
      </div>

      <div class="mb-3">
        <%= form.label :uploaded_image, "Upload Image", class: "form-label" %>
        <%= form.file_field :uploaded_image, class: "form-control", accept: "image/png, image/jpg, image/jpeg, image/gif" %>
      </div>

      <%= form.hidden_field :place_id, value: params[:place_id] %>
      
      <div class="mb-3">
        <%= form.submit "Save", class: "btn btn-dark" %>
      </div>
    <% end %>

    <%= link_to "Back", place_path(params[:place_id]), class: "text-primary text-decoration-underline" %>
  </div>
</div>